:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --main-text-color: #555555;
  --title-text-color: #303030;
  --secondary-text-color: #9da4bd;
  --accent-color: #ff6c00;
}
body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px dashed chartreuse;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*Header*/
.link.social {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.link.social:hover,
.link.social:focus {
  color: var(--accent-color);
}

/*Navigation*/
.link.navigation,
.link.phone-number {
  color: var(--main-background-color);
  background-color: #555555;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.link.navigation:hover,
.link.navigation:focus {
  color: var(--accent-color);
}
.header .booking,
.services .booking {
  color: var(--main-background-color);
  background-color: #555555;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.nav-list {
  display: flex;
}
.nav-item {
  padding-top: 52px;
  padding-bottom: 52px;
}
.nav-item:not(:last-child) {
  margin-right: 30px;
}
.link.phone-number {
  display: inline-block;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-right: 40px;
}
.link.booking {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}
.link.booking:hover,
.link.booking:focus {
  background-color: var(--accent-color);
}
.conts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .logo {
  display: inline-block;
  margin-right: 131px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*Main*/
.hero {
  padding-top: 208px;
  padding-bottom: 208px;
}
.hero-title {
  color: var(--main-background-color);
  background-color: #555555;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.text-description {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero .text-description,
.services .text-description {
  color: rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero .text-description {
  margin-bottom: 20px;
}
.contacts .text-description {
  color: var(--main-background-color);
  background-color: #555555;
}
.hero-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.about .container {
  display: flex;
  flex-direction: row-reverse;
}
.hero .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.hero-links .list {
  display: flex;
}
.hero-main {
  flex-grow: 1;
}
.hero-links {
  width: 100px;
  flex-grow: 0;
}
.hero-links .list {
  transform: rotate(270deg);
  justify-content: flex-end;
}
.hero-links .item:not(:last-child) {
  margin-right: 40px;
}
.about-pictures .list {
  display: flex;
  width: 600px;
}
.about-pictures .item {
  flex-basis: calc((100% - 60px) / 2);
  margin-right: 30px;
}
about .text-description,
.about .section-title,
.about .text,
.services .text-description {
  margin-bottom: 20px;
}
.about .paragraph {
  margin-bottom: 42px;
}
.services .section-title {
  margin-bottom: 44px;
}
.services-lists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.services-list-left,
.services-list-right {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 570px;
}
.services-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.services-item:nth-child(4n) {
  margin-bottom: 0;
}
.services-button {
  text-align: center;
}
.services .section .section-title {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.about .text,
.why .text,
.contacts .text {
  font-size: 18px;
  line-height: 1.67;
}
.about .booking {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.services .section-title,
.on-booking .section-title,
.contacts .section-title {
  color: var(--main-background-color);
  background-color: #555555;
}
.left-text,
.right-text {
  color: var(--secondary-text-color);
  background-color: #555555;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}
.plus {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
}
.number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.05em;
}
.cards .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
.cards-item {
  background-color: #f7f7f7;
}
.name {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
}
.barbers .text {
  color: var(--accent-color);
  line-height: 1.36;
  text-align: center;
}
.address {
  font-style: normal;
}
.address .link {
  color: var(--secondary-text-color);
  background-color: #555555;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}
.link.street {
  font-weight: 700;
}
/*Footer*/
.page-footeer .text {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
/*Button*/
.button {
  color: var(--main-background-color);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
